{%load static%}

<!-- Account Page -->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" method="POST">
                        {%csrf_token%}
                        <input type="text" name="username" required placeholder="username">
                        <input type="password" name="password" required placeholder="password">
                        <input type="email" name="email"required placeholder="email">
                        <button type="submit" name='login' class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm" method="POST">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        
                        {%csrf_token%}
                        <input style="margin: 2px;" type="text" name="username" required placeholder="username">
                        <input style="margin: 2px;" type="email" name="email"required placeholder="email">
                        <input style="margin: 2px;" type="password" name="password" required placeholder="password">
                        <input style="margin: 2px;" type="text" name="address" required placeholder="Address">
                        <input style="margin: 2px;" type="text" name="phone" required  placeholder="Phone Number">
                        <button type="submit" name="register" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>