{% load static %} 
{% load subtotal %}
{% load getTotal %}
 <!-- Cart items details -->
    <div class="small-container cart-page">
        {% if cart %}

        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {% for items in cart%}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{items.product.image.url}}">
                        <div>
                            <p>{{items.product.title}}</p>
                            <small>Price:${{ items.product.price }}</small>
                            <br>
                            <a href="{% url 'deleteItem' items.id %}">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" disabled value="{{items.quantity}}"></td>
                <td>${% subtotal items.product.price items.quantity %}</td>
            </tr>
            {%endfor%}
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Total</td>
                    <td>${% getTotal cart %}</td>
                </tr>
            <form action="{% url 'checkout' %}" method="POST">
                {%csrf_token%}
                <input type="text" name="total" hidden value="{% getTotal cart %}">
                <tr><td colspan="2"></td><td><button type="submit" class="btn">Checkout</button></td></tr>
            </form>
            </table>
        </div>

            {% if messages %}
            <div style="text-align: center;">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            </div>
            {% endif %}

        {%else%}
        <p>Cart is empty</p>
        {%endif%}
    </div>
